<!DOCTYPE html>
<html>
<head>
  <title>Papereviews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "paper reviews", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "View Reviews",reviews_index_path %></li>
              <li><%= link_to "Create Review",reviews_new_path %></li>
	      <% if user_signed_in? %>
	        Welcome <%= current_user.email %><li><%= link_to "Logout", destroy_user_session_path, :method => :delete%></li>
	      <% else %>
		<!--<li><%= link_to "Register", new_user_registration_path %></li> or <li><%= link_to "Login", new_user_session_path %></li>-->
	      <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
	<%= render 'layouts/footer' %>
    </div>
</body>
</html>
